.app{
  background-color: var(--bg-color);
  font-family: var(--font-base);
}

.app__flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding__section{
  padding: 0rem 6rem;
}

@media screen and (max-width: 800px){
  .padding__section {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 450px){
  .padding__section {
    padding: 0 1rem;
  }
}