@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --primary-color: #7562E0;
  --secondary-color: #282162;
  --dark-color: #000036;
  --light-color: #F5F5F5;
  --low-color: #848191;
  --bg-color: #1A1A29;

  --font-base: 'Poppins', sans-serif;
}